<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="poll.css" />
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/6cc08cc3c7.js" crossorigin="anonymous"></script>
<style>
/*General*/
* {
  font-family: "Roboto";
  box-sizing: border-box;
}
.container {
  display: flex;
}
::placeholder {
  font-size: 90%;
}

body {
  background: url('embossedbackground2.png');
  background-size: 500%;
  margin: 0;
  padding: 0;
}
input {
  background: rgba(0,0,0,0.025);
  outline: none;
  width: 80%;
  border-top-style: hidden;
  /*border-left: 1px solid rgb(57, 113, 250);*/
  border-left-style: hidden;
  border-bottom: 1px solid rgb(57, 113, 250);
  border-right-style: hidden;
  border-radius: 1px;
  transition: all 0.25s;
}
input:focus {
  background: white;
}
/*Top*/
.loader {
  z-index: 10000;
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 1;
  transition: opacity 1s;
}
.loaded {
  opacity: 0;
}
.topWrapper {
  flex-direction: column;
  height: 20vh;
}
.topRow {
  background: #333;
  height: 7.5vh;
  width: 100%;
}
.topRow div {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 75%;
}
#title {
  justify-content: space-around;
  padding: 0 2.5%;
  width: 50%;
}
.logo {
  color: rgba(255,255,255,0.75);
  background: linear-gradient( rgb(255, 63, 0), red);
  border: 5px solid rgba(255.255.255.0.5);
  width: 5vh;
  height: 5vh;
  border-radius: 40%;
  align-items: center;
  justify-content: center;
  margin: 1%;
}
#search {
  width: 20%;
}
#searchBar {
  height: 75%;
  width: 75%;
  border: 1px solid white;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px;
  padding-right: 5%;
}
.fa-search {
}
#nav {
  border-left: 1px solid rgb(255, 63, 0);
  border-right: 1px solid rgb(255, 63, 0);
  color: white;
  width: 40%;
}
#pollCreateTop, #pollListTop {
  align-items: center;
  justify-content: center;
  width: 50%;
  font-size: 1em;
  background: #333;
  cursor: pointer;
}

#pollListTop {
  height: 100%;
background: rgb(255, 63, 0);
}
/*List*/
.listWrapper {
  flex-direction: column;
}

#pollList {
  flex-direction: column;
  width: 100%;
  padding: 0;
  align-items: center;
  justify-content: center;
}
#pollList li {
  box-shadow: 7px 7px 3px rgba(0,0,0,0.5);
  width: 90%;
  height: 15vh;
  margin: 2.5%;
}
.pollName {
  width: 60%;
  align-items: center;
  justify-content: center;
  background: white;

}
.pollNameX {
  width: 80%;
  text-align: center;
  word-wrap: break-word;
}
.deletePoll {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 40%;
  font-size: 80%;
  background: white;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
#title {
  width: 25%;
}
}

</style>
<body>
  <div class="container loader">

  </div>
  <div class="container topWrapper">
    <div class="container topRow">
      <div class="container topRowItem" id="title">
        <div class="container logo">
          <i class="container fas fa-poll fa-lg"></i>

        </div>
        <h1>Consensus</h1>
      </div>
      <div class="container topRowItem" id="search">
        <div class="container" id="searchBar">
          <i class="fas fa-search"></i>
        </div>      </div>
      <div class="container topRowItem" id="nav" >
        <div class="container" id="pollCreateTop" onclick="window.location.href='/'">
          <p>
            Create
          </p>
        </div>

        <div class="container" id="pollListTop">
          <p>
            All
          </p>
        </div>
      </div>

    </div>
  </div>
  <div class="container listWrapper">
    <div class="container pollList">
    <ul class="container" id="pollList">

    </ul>
  </div>

  </div>
</body>

<script>
console.log("TEST!");

let xhttp = new XMLHttpRequest;
let pollList = document.getElementById("pollList");
window.onload = () => {
  let loader = document.querySelector('.loader');
  loader.classList.add('loaded')
  loader.addEventListener('transitionend', () => {
    console.log('loaded');
    loader.style.display="none";
  })
  getPolls();
}
  function getPolls() {

    xhttp.onload = () => {
      if (xhttp.readyState == XMLHttpRequest.DONE && xhttp.status == 200) {
        console.log('type of response: ' + typeof(xhttp.responseText));
        let polls = JSON.parse(xhttp.responseText);
        console.log('response text JSON: ' + typeof(polls));
        polls.forEach(p => {
          let pollItem = document.createElement("li");
          pollItem.classList.add("container", "poll");
          console.log('p: ' + p.title);
          let pollName = document.createElement("DIV");
          pollName.id = p._id;
          pollName.classList.add("container", "pollName");
          let pollNameX = document.createElement("P");
          pollNameX.classList.add("pollNameX");
          pollNameX.innerHTML = p.title;
          pollName.appendChild(pollNameX);
          let deletePoll = document.createElement("DIV");
          let deletePollX = document.createElement("P");
          deletePoll.classList.add("container", "deletePoll");
          deletePollX.textContent = p.dateCreated;
          deletePoll.appendChild(deletePollX);
          pollList.appendChild(pollItem);
          pollItem.appendChild(pollName)
          pollItem.appendChild(deletePoll);
        })
      }
    }
    xhttp.open("GET", "/getlist", true);
    xhttp.send();
  }
  pollList.addEventListener("click", (event) => {
    let pollId;
    if (event.target.classList.contains("pollName")) {
      pollId = event.target.id
    } else if (event.target.classList.contains("pollNameX")) {
        pollId = event.target.parentElement.id;
      } else {return;}
      console.log('clicked' + event.target.id);
      console.log('pollId: ' + pollId);
      xhttp.open("POST", `/pollId`, true);
      xhttp.setRequestHeader('Content-Type', 'application/json');
      console.log('test before send: ' + pollId);
      xhttp.send(JSON.stringify({'id': pollId}));
      window.location.href = "/showPoll";
   /*if (event.target.classList.contains("deletePoll")) {
    pollId = event.target.parentElement.id;
      xhttp.open("POST", "/delpoll");
      xhttp.setRequestHeader('Content-Type', 'application/json');
      xhttp.send(JSON.stringify({'id': pollId}));
      document.location.reload()
  }*/

}, true)
</script>
</html>
